html {
	background-image: url(https://images.unsplash.com/photo-1491183672482-d0af0e44929d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed top;
    
}
h1 {
	color: maroon;	
	font: 40px;
	font-weight: bold;
	text-align: center;
	border: solid black;
}
h2 {
	color: black;
	text-indent: 100px;
	font-weight: bold;
}
li, ol {
	font-weight: bold;
}
#name{
	text-align: right;
	margin-right: 100px
}
table, th, td{
	border: 1px solid black; background-color: white;
}
table{
	background-color: maroon;padding: 5px;
}
th, td{
	background-color: white;padding: 5px
}
#headshot {hover
	position: absolute;top: 10%;right: 15%; transform: scale(1.25);
}
nav li{
	display: inline;
	font-weight: normal;
	font-size: 30px;
	margin-right:40px;
	font-color:black;
	text-transform: uppercase;
	background-color: maroon;
	font-family:Inconsolata;
	
}
nav ul{
	border:solid black;
	background-color: maroon;
}
li{
	font-weight: bold;
}
nav{
	position: fixed;
	background-color: black;
	border: solid black;
	width: 800px;
}
nav a{
	color: black;
	text-decoration: none;
}
nav a:hover{
	text-decoration: underline;
	color: white;
	font-weight:bolder;
}
button{
	border:2px solid black;
	padding: 10px 25px;
	display: block;
	margin-bottom: 20px;
}
form{
	border: solid black;
	padding: 15px 15px;
	font-family: acme;
}
form input{
	display: block;
	width: 300px;
	border: dashed black;
	margin: 15px;
	padding: 10px;
}
th p {
	font-family: acme;

}
#footerList {list-style-type: none;
	border-top:5px solid black;
	border-bottom:3px solid black;
	margin-top:70px;
}
.footerListItems{
	display: inline;
	text-align: center;
	padding: 8px 20px;
	text-decoration: none;
	font-size: 18px;
}
.footerListItems:hover{
	text-decoration: underline;
}
hr{
	border:solid black;
}
p{ font-weight:lighter;
}
.slide-in-left {
	-webkit-animation: slide-in-left 1.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0.5s both;
	        animation: slide-in-left 1.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0.5s both;
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}


	
